<app-navbar></app-navbar>
<section
    class="content bg-gray-900 py-8 lg:py-16 antialiased flex-grow transition duration-300 lg:w-[75%] xl:w-[80%] 2xl:w-[85%] h-full">
    <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
            <h2
                class="text-lg lg:text-2xl font-bold rounded-xl px-14 py-3 bg-gray-800 m-auto text-gray-200 dark:text-white">
                Messages</h2>
        </div>
        <div *ngIf="hasMessages" style="min-height: 100vh;">
            <div *ngFor="let msg of this.groupedMessages, index as i">
                <ng-container *ngFor="let data of msg, let first = first, let last = last, index as j">
                    <article *ngIf="!this.conversationsCollapsed[i] || first"
                        class="p-6 text-base bg-white rounded-lg dark:bg-gray-900 mb-3">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex items-center">
                                <p
                                    class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">
                                    <img class="mr-2 w-6 h-6 rounded-full"
                                        src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                                        alt="friend's name">{{data.sender}}
                                </p>
                                <p class="ml-2 text-sm text-gray-600 dark:text-gray-400">
                                    <time>{{data.timestamp}}</time>
                                </p>
                            </div>
                            <div *ngIf="this.conversationsCollapsed[i]; then expanded else collapsed"></div>
                            <ng-template #expanded>
                                <svg *ngIf="first" (click)="toggleConversationView(i)" class="ml-24"
                                    style="cursor:pointer;" xmlns="http://www.w3.org/2000/svg" height="12" width="12"
                                    fill="#999" viewBox="0 0 384 512">
                                    <path
                                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
                                </svg>
                            </ng-template>
                            <ng-template #collapsed>
                                <svg *ngIf="first" (click)="toggleConversationView(i)" class="ml-24"
                                    style="cursor:pointer;" xmlns="http://www.w3.org/2000/svg" height="12" width="12"
                                    fill="#999" viewBox="0 0 384 512">
                                    <path
                                        d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z" />
                                </svg>
                            </ng-template>
                            <button *ngIf="!this.conversationsCollapsed[i]" (click)="toggleCommentDropdown(i, j)"
                                [attr.data-dropdown-toggle]="'dropdownComment' + i + j"
                                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                type="button">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 16 3">
                                    <path
                                        d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                                </svg>
                                <span class="sr-only">Comment settings</span>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdownComment1" id="{{'dropdownComment' + i + j}}"
                                *ngIf="isDropdownActive(i, j)"
                                class="absolute mt-20 top-100 right-5 z-0 w-18 bg-white divide-y divide-gray-100 rounded-md shadow-md dark:bg-gray-700 dark:divide-gray-600">
                                <div *ngIf="checkIsSender(i, j); then isSender else notSender"></div>
                                <ng-template #isSender>
                                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" style="cursor: pointer;"
                                        aria-labelledby="dropdownMenuIconHorizontalButton">
                                        <div *ngIf="!groupedMessages[i][j].isRead; then enabled else disabled"></div>
                                        <ng-template #enabled>
                                            <li>
                                                <a (click)="startEdit(i, j)"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                    style="color: lime;">Edit</a>
                                            </li>
                                        </ng-template>
                                        <ng-template #disabled>
                                            <li>
                                                <a class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-not-allowed opacity-50"
                                                    style="color: lime;" aria-disabled="true" disabled>Edit</a>
                                            </li>
                                        </ng-template>
                                        <li>
                                            <a (click)="deleteMessage(i, j)"
                                                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                style="color: crimson;">Delete</a>
                                        </li>
                                        <li>
                                            <a (click)="closeDropdowns()"
                                                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                style="color: black;">Cancel</a>
                                        </li>
                                    </ul>
                                </ng-template>
                                <ng-template #notSender>
                                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" style="cursor: pointer;"
                                        aria-labelledby="dropdownMenuIconHorizontalButton">
                                        <li>
                                            <a (click)="deleteMessage(i, j)"
                                                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                style="color: crimson;">Delete</a>
                                        </li>
                                        <li>
                                            <a (click)="closeDropdowns()"
                                                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                style="color: black;">Cancel</a>
                                        </li>
                                    </ul>
                                </ng-template>
                            </div>
                        </footer>
                        <div class="flex text-black mt-8 justify-center font-bold underline" style="cursor:pointer;"
                            *ngIf="this.conversationsCollapsed[i] && this.groupedMessages[i].length > 1" (click)="toggleConversationView(i)">View
                            {{this.groupedMessages[i].length}} Messages
                        </div>
                        <div class="flex text-black mt-8 justify-center font-bold underline" style="cursor:pointer;"
                            *ngIf="this.conversationsCollapsed[i] && this.groupedMessages[i].length == 1" (click)="toggleConversationView(i)">View Message
                        </div>
                        <div *ngIf="!this.conversationsCollapsed[i]">
                            <p class="text-gray-500 dark:text-gray-400" *ngIf="!isEditing(i, j)" [attr.id]="'message-' + i + '-' + j">{{data.content}}</p>
                            <!-- Display edit controls only if the message is in edit mode -->
                            <div *ngIf="isEditing(i, j)">
                                <textarea [(ngModel)]="groupedMessages[i][j].content" style="resize:none;"></textarea>
                                <div class="flex justify-between p-2 gap-4">
                                    <button
                                        class="flex-grow py-2 px-4 bg-green-300 text-white hover:bg-green-400 dark:hover:bg-green-500 border border-transparent rounded"
                                        (click)="saveEdit()">Save Edit
                                    </button>
                                    <button
                                        class="flex-grow py-2 px-4 bg-red-300 text-white hover:bg-red-400 dark:hover:bg-red-500 border border-transparent rounded"
                                        (click)="cancelEdit()">Cancel Edit
                                    </button>
                                </div>
                            </div>
                            <div class="flex justify-end items-center mt-4 space-x-4" *ngIf="!checkIsSender(i,j)">
                                <button type="button" (click)="scrollToReplyForm(i)"
                                    class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                                    <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-4 -2 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z" />
                                    </svg>
                                    Reply
                                </button>
                            </div>
                            <div *ngIf="checkIsSender(i, j)">
                                <button type="button" class="flex float-right text-sm text-gray-500 dark:text-gray-400">

                                    <div *ngIf="groupedMessages[i][j].isRead; then read else delivered"></div>
                                    <ng-template #read>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" fill="#999"
                                            viewBox="64 -72 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                            <path
                                                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                                        </svg>
                                        Read
                                    </ng-template>
                                    <ng-template #delivered>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" fill="#999"
                                            viewBox="64 -72 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                            <path
                                                d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" />
                                        </svg>
                                        Delivered
                                    </ng-template>
                                </button>
                            </div>
                            <form *ngIf="last" class="mt-12">
                                <div
                                    class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                                    <label for="reply" class="sr-only">Your reply</label>
                                    <textarea [(ngModel)]="replyTexts[i]" name="replyTexts" id="reply" rows="4"
                                        class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                                        placeholder="Write your message..." required></textarea>
                                </div>
                                <button (click)="sendMessage(i, j)" type="button"
                                    class="replyForm inline-flex items-center py-2.5 px-4 text-xs font-bold text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                                    Send Message
                                </button>
                            </form>
                        </div>
                    </article>
                </ng-container>
            </div>
        </div>
    </div>
    <section *ngIf="!hasMessages && hasFriends" class="bg-white dark:bg-gray-900 ml-8" style="height: 100vh;">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1
                    class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                    Your inbox is empty!</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                    Add something here to send a message to a dropdown list of friends. If no friends, add button to
                    link to my friends where you can add a friend</p>
            </div>
            <div class="lg:mt-0 lg:col-span-5 m-auto h-48 w-48 lg:flex">
                <img src="https://cdn-icons-png.flaticon.com/128/11696/11696729.png" alt="mockup">
            </div>
        </div>
        <button
            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 bg-white rounded-lg hover:bg-gray-100 
            focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            type="button">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 16 3">
                <path
                    d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
            </svg>
            <span class="sr-only">Comment settings</span>
        </button>
        <!-- Dropdown menu -->
        <div
            class="absolute mt-20 top-100 right-5 z-0 w-18 bg-white divide-y divide-gray-100 rounded-md shadow-md dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" style="cursor: pointer;"
                aria-labelledby="dropdownMenuIconHorizontalButton">
                <ng-container *ngFor="let friend of this.userData.friends, index as i">
                    <li (click)="testMsg(friend)">
                        <a class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            style="color: lime;">{{friend}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </section>
    <section *ngIf="!hasMessages && !hasFriends" class="bg-white dark:bg-gray-900 ml-8" style="height: 100vh;">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="m-auto place-self-center lg:col-span-7">
                <h1
                    class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                    Your inbox is empty!</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                    Use the input field below to add a friend by their username! If you believe you've reached this page
                    in error, please refresh and try again.</p>
            </div>
            <div class="lg:mt-0 lg:col-span-5 m-auto h-48 w-48 lg:flex">
                <img src="https://cdn-icons-png.flaticon.com/128/11696/11696729.png" alt="mockup">
            </div>
        </div>

        <div class="flex mb-6 m-auto justify-center">
            <input type="text" id="success"
                class="w-64 text-white text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700" placeholder="Friend Name"
                #newFriendName>
            <button (click)="addFriend(newFriendName.value.toLowerCase())" type="button"
                class="min-w-40 ml-4 inline-flex items-center justify-center px-8 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Add Friend
            </button>
        </div>
    </section>
</section>